.banner {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
}
.banner__info {
	position: absolute;
	z-index: 0;
    width: 30vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.247);
    align-content: center;
    padding: 1rem;
}

.banner__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner__info__title{
    color: white;
    font-size: calc(4vw + 2vmin)
}
.banner__info__description{
    color: white;
}
@media screen and (max-width: 768px) {
.banner__info{
	display: none;
}

}